div#world {
    width: 80%;
    height: 600px;
    border: solid 1px black;
    background-color: rgb(68, 68, 68);
    margin: auto;
}

input.vertex {
    border: solid 1px black;
    position: fixed;
    left: 300px;
    font-size: x-large;
    text-align: center;
}